@import 'reset';
$main-text-color: #7f7f7f;
$blue: #3f8dbf;
$white: #fff;
$blue-2: #313b46;

html{
	font-family: 'Relaway ExtraBold', 'Open Sans', sans-serif;
	font-size: 14px;
}
img{
	max-width: 100%;
	height: auto;
}
section#header{
	height: 100vh;
	background: url("../img/header_bg.jpg") no-repeat center center;
	background-size: cover;
	.header-title{
		color: $white;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		width: -moz-max-content;
		width: max-content;
		font-size: 3rem;
		h2 {
			margin-top: 20px;
			text-align: center;
			font-size: 2.5rem;
		}
		a{
			display: inline-block;
			padding: 10px 20px;
			background-color: $blue;
			text-align: center;
			position: relative;
			left: 50%;
			top: 50px;
			transform: translateX(-50%) translateY(-50%);
			text-transform: uppercase;
			color: $white;
			font-weight: 700;
		}
	}
}
.header-menu{
	background-color: $blue-2;
	height: 100px;
	color: $white;
	.logo{
		color: $white;
		line-height: 100px;
		text-decoration: none;
		img{
			position: relative;
			top: 9px;
			right: 4px;
		}
	}
	span {
		text-transform: uppercase;
		font-family: 'Bebas Neue';
		font-size: 30px;
	}
	ul.list-inline{

		list-style-type: none;
		line-height: 100px;
		li{
			display: inline;
			a{
				// display: inline-block;
				text-transform: uppercase;
				color: $white;
				text-decoration: none;
				margin-left: 30px;
				&:hover{
					color: #ccc;
				}
			}
		}
	}
	top: 0; /*высота шапки в пикселях*/
	position: fixed;
	z-index: 100;
	width: 100%;
}
section#creativ{
	margin-top: 70px;
	h2{
		margin-bottom: 30px;
		font-size: 30px;
		text-align: center;
		color: $main-text-color;
		font-family: 'Relaway ExtraBold', 'Open Sans', sans-serif;
		span{
			color: $blue;
		}
	}
	p{
		text-align: center;
		color: $main-text-color;
		line-height: 30px;
		}
	span.line{
		width: 885px;
		background-color: #dadada;
		height: 2px;
		margin: 40px auto;
		display: block;
	}

	span.icon{
		display: block;
		background-color: #808080;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		position: relative;
		top: -46px;
		left: 126px;
	}
	span.icon.active{
		display: block;
		background-color: $blue;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		position: relative;
		top: -46px;
		left: 126px;
	}
	span.idea{
		display: block;
		background: url("../img/idea.png") no-repeat center center;
		width: 32px;
		height: 52px;
		position: relative;
		top: 1px;
		left: 116px;
	}
	span.rapid{
		display: block;
		background: url("../img/rapid.png") no-repeat center center;
		width: 32px;
		height: 55px;
		position: relative;
		top: 1px;
		left: 116px;
	}
	span.magic{
		display: block;
		background: url("../img/magic.png") no-repeat center center;
		width: 40px;
		height: 55px;
		position: relative;
		top: 1px;
		left: 116px;
	}
	span.award{
		display: block;
		background: url("../img/award.png") no-repeat center center;
		width: 32px;
		height: 55px;
		position: relative;
		top: 1px;
		left: 116px;
	}
.block-creativ{
		margin-bottom: 60px;
		.items-idea{
		display: block;
		text-decoration: none;
		&:hover{
			background-color: $blue;
		}
		p{
			text-transform: uppercase;
			color: $main-text-color;
			font-weight: 700;
			padding-top: 10px;
		}
		}
		.active{
		p{
			text-transform: uppercase;
			color: $blue;
			font-weight: 700;
			padding-top: 10px;
		}
		}
	}
}
section#work{
	background-color: #fbfbfb;
	padding-bottom: 50px;
	margin-bottom: 50px;
	.header-work{
		h2{
			margin-top: 60px;
			margin-bottom: 30px;
			font-size: 30px;
			text-align: center;
			color: #7f7f7f;
			font-family: 'Relaway ExtraBold', 'Open Sans', sans-serif;
		}
		.line2{
			content: " ";
			display: block;
			background-color: #cecece;
			width: 84px;
			height: 2px;
			position: relative;
			left: 43%;
			top: -5%;
			margin-left: -25px;
			margin-bottom: 60px;
		}
		.line2:before{
			content: " ";
			display: block;
			background-color: #cecece;
			width: 84px;
			height: 2px;
			position: relative;
			left: 157%;
			top: -5%;
			margin-left: -10px;
			margin-bottom: 60px;
		}
		.set-icon{
			display: block;
			width: 20px;
			background: url("../img/set.png") no-repeat;
			height: 18px;
			margin: 0 auto;
			position: relative;
			top: -69px;
		}
	}
	article{
		background: url("../img/print_icon.png") no-repeat 10px 1px;
		padding-left: 82px;
		h2{
			color: #616161;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 700;
			margin-bottom: 20px;
		}
		p{
			color: $main-text-color;

		}
	}
	.motion{
		background: url("../img/motion_icon.png") no-repeat 10px 1px;
	}
	.package{
		background: url("../img/package_icon.png") no-repeat 10px 1px;
	}
	.sound{
		background: url("../img/sound_icon.png") no-repeat 10px 1px;
	}
	.time{
		background: url("../img/time_icon.png") no-repeat 10px 1px;
	}
	.illustration{
		background: url("../img/illustration_icon.png") no-repeat 10px 1px;
	}
}
.margin-top{
	margin-top: 50px;
}
section#our{
	background-color:#2c2c2c;
	margin-bottom: 30px;
	.header-our{
		h2{
			font-weight: 700;
			color: #9b9b9b;
			margin-top: 60px;
			margin-bottom: 30px;
			font-size: 30px;
			font-family: 'Relaway ExtraBold', 'Open Sans', sans-serif;
		}
		.line2{
			content: " ";
			display: block;
			background-color: #cecece;
			width: 84px;
			height: 2px;
			position: relative;
			left: 43%;
			top: -5%;
			margin-left: -25px;
			margin-bottom: 60px;
		}
		.line2:before{
			content: " ";
			display: block;
			background-color: #cecece;
			width: 84px;
			height: 2px;
			position: relative;
			left: 157%;
			top: -5%;
			margin-left: -10px;
			margin-bottom: 60px;
		}
		.set-icon{
			display: block;
			width: 20px;
			background: url("../img/set.png") no-repeat;
			height: 18px;
			margin: 0 auto;
			position: relative;
			top: -69px;
		}

	}
	.picture {
		text-align: center;
	img{
	width: 300px;
		}
	}
	a.btn{
		display: inline-block;
		width: 150px;
		border-radius: 3px;
		border: solid 2px #9b9b9b;
		margin-top: 40px;
		margin-bottom: 60px;
		color: #9b9b9b;
		text-transform: uppercase;
	}
}
section#articles{
	margin-bottom: 60px;
	.header-articles{
			h2{
			font-weight: 700;
			color: #9b9b9b;
			margin-top: 60px;
			margin-bottom: 30px;
			font-size: 30px;
			font-family: 'Relaway ExtraBold', 'Open Sans', sans-serif;
			}
			.line2{
			content: " ";
			display: block;
			background-color: #cecece;
			width: 84px;
			height: 2px;
			position: relative;
			left: 43%;
			top: -5%;
			margin-left: -25px;
			margin-bottom: 60px;
		}
		.line2:before{
			content: " ";
			display: block;
			background-color: #cecece;
			width: 84px;
			height: 2px;
			position: relative;
			left: 157%;
			top: -5%;
			margin-left: -10px;
			margin-bottom: 60px;
		}
		.set-icon{
			display: block;
			width: 20px;
			background: url("../img/set.png") no-repeat;
			height: 18px;
			margin: 0 auto;
			position: relative;
			top: -69px;
		}
	}
	article{
		img{
			float: left;
			margin-right: 20px;
		}
		h2{
			color: #616161;
			font-size: 18px;
			line-height: 22px;
			margin-bottom: 10px;
		}
		p{
			line-height: 24px;
			font-size: 14px;
			color: #7f7f7f;
			margin-bottom: 10px;
		}
		a{
			line-height: 24px;
			font-size: 14px;
		}
	}
}
section#contact{
	background: url("../img/bg_contact.jpg") no-repeat center center;
	background-size: cover;
	.header-contact{
		h2{
			font-weight: 700;
			color: #9b9b9b;
			margin-top: 60px;
			margin-bottom: 30px;
			font-size: 30px;
			font-family: 'Relaway ExtraBold', 'Open Sans', sans-serif;
			}
			.line2{
			content: " ";
			display: block;
			background-color: #cecece;
			width: 84px;
			height: 2px;
			position: relative;
			left: 43%;
			top: -5%;
			margin-left: -25px;
			margin-bottom: 60px;
		}
		.line2:before{
			content: " ";
			display: block;
			background-color: #cecece;
			width: 84px;
			height: 2px;
			position: relative;
			left: 157%;
			top: -5%;
			margin-left: -10px;
			margin-bottom: 60px;
		}
		.set-icon{
			display: block;
			width: 20px;
			background: url("../img/set.png") no-repeat;
			height: 18px;
			margin: 0 auto;
			position: relative;
			top: -69px;
		}

	}
	.contact{
		input{
			width: 640px;
			height: 45px;
			margin-bottom: 15px;
			background-color: #515457;
			border: 0;
			font-size: 14px;
			color: #a1a1a1;
			padding-left: 15px;
		}
		textarea{
			background-color: #515457;
			border: 0;
			font-size: 14px;
			color: #a1a1a1;
			padding-left: 15px;
			padding-top: 15px;
		}
		button{
			display: block;
			width: 100px;
			height: 30px;
			border-radius: 5px;
			margin: 20px 0;
			background-color: $blue;
			border: 0;
			text-transform: uppercase;
			color: #fff;
			font-weight: 700;
		}
	}
	address.contact{
		color: #d9d9d9;
		line-height: 26px;
		h3{
			color: #fff;
			font-weight: 700;

		}
		span{
			display: block;
			padding-left: 20px;
			background: url("../img/footer_icon.png") no-repeat;
		}
		.address{
			margin-top: 20px;
			margin-bottom: 10px;
			padding-left: 15px;
			background-position: 0 6px;
		}
		.phone{
			margin-bottom: 10px;
			background-position: 0 -61px;
		}
		.email{
			background-position: 0 -132px;
		}
	}
}
footer{
	background-color: #2c2c2c;
	padding-top: 70px;
	color: #cacaca;
	h3{
		color: #cacaca;
		margin-bottom: 20px;
		text-transform: uppercase;
		font-weight: 700;
	}
	p{
		font-size: 13px;
		line-height: 24px;
		margin-bottom: 5px;
	}
	.copyright{
		height: 80px;
		background-color: #292929;
		padding-left: 100px;
		color: #cacaca;
		margin-top: 20px;
		.copy{
			line-height: 80px;
		}
	}

}
