* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif; }

header {
  max-width: 100%;
  background: transparent; }
  header .header-menu {
    height: 60px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: -10px;
    position: absolute;
    top: 10px;
    left: 50%;
    z-index: 10;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%; }
    header .header-menu .logo {
      display: inline-block;
      margin-left: 20px;
      text-transform: uppercase;
      color: #fff;
      text-decoration: none; }
      header .header-menu .logo img {
        position: absolute;
        top: 17px; }
      header .header-menu .logo span.title-logo {
        margin-left: 34px;
        line-height: 60px;
        font-size: 32px;
        font-weight: 400; }
    header .header-menu .nav-links {
      display: block;
      width: 56px;
      height: 56px;
      margin: auto;
      position: relative;
      background-color: rgba(255, 255, 255, 0.4);
      float: right;
      margin-right: 20px; }
    header .header-menu .nav-line {
      content: " ";
      display: block;
      background-color: #ffffff;
      width: 40px;
      height: 5px;
      position: relative;
      left: 18px;
      top: 25px;
      margin-left: -10px; }
    header .header-menu .nav-line:before {
      content: " ";
      display: block;
      background-color: #ffffff;
      width: 40px;
      height: 5px;
      position: relative;
      -webkit-transform: translateY(-13px) translateX(-1px);
          -ms-transform: translateY(-13px) translateX(-1px);
              transform: translateY(-13px) translateX(-1px); }
    header .header-menu .nav-line:after {
      content: " ";
      display: block;
      background-color: #ffffff;
      width: 40px;
      height: 5px;
      position: relative;
      -webkit-transform: translateY(7px) translateX(-1px);
          -ms-transform: translateY(7px) translateX(-1px);
              transform: translateY(7px) translateX(-1px); }
  header .menu-carousel .item {
    min-height: 600px; }
  header .menu-carousel .bgslide {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center; }
  header .menu-carousel .carousel-caption {
    top: 125px;
    left: -250px; }
    header .menu-carousel .carousel-caption input {
      padding: 10px 20px;
      color: #ccc;
      font-size: 22px;
      background-image: url("../img/search.png");
      background-repeat: no-repeat;
      background-position: 310px 13px;
      border: 0;
      width: 350px;
      margin-top: 20px; }

.menu-carousel div#carousel span.previous {
  width: 4rem;
  height: 4rem;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(134deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(134deg);
          transform: translateX(-50%) translateY(-50%) rotate(134deg);
  position: absolute;
  left: 50%;
  top: 50%; }

.menu-carousel div#carousel span.next {
  width: 4rem;
  height: 4rem;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
          transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  position: absolute;
  left: 50%;
  top: 50%; }

section#form {
  margin: 20px 0; }
  section#form h1 {
    color: #8b8b8b;
    font-size: 37px;
    text-align: center; }
  section#form a.btn {
    margin-top: 10px;
    color: #fff;
    background-color: #8fcddc;
    border-radius: 0;
    font-size: 37px;
    padding: 7px 25px; }
  section#form hr {
    background-color: #d7d2d2;
    height: 1px; }

section#category {
  padding-bottom: 30px; }
  section#category h3 {
    color: #636363;
    margin-bottom: 25px; }
  section#category ul li {
    list-style-type: none;
    line-height: 23px; }
    section#category ul li a {
      color: #636363;
      text-decoration: none; }
      section#category ul li a:hover {
        color: #47635a; }

footer {
  height: 45px;
  text-align: center;
  background-color: #484242;
  color: #fff; }
  footer p {
    padding-top: 10px; }

/*# sourceMappingURL=style.css.map */